# Pearl OTC simnet environment contract.
# No real secret values belong in this file.

NODE_ENV=development
OTC_API_REQUIRE_PRODUCTION_CONFIG=true

PEARL_NETWORK=simnet
PEARL_ESCROW_ALLOCATOR=p2tr_multisig
PEARL_ESCROW_DERIVATION_PREFIX=0
PEARL_ESCROW_ALLOW_MAINNET=false
PEARL_ESCROW_CONFIRMATIONS=1
PEARL_RELEASE_FEE_GRAINS=0
PEARL_INDEXER_WATCH_URL=http://127.0.0.1:8088
PEARL_INDEXER_WATCH_TIMEOUT_MS=5000

BASE_USDC_ESCROW_NETWORK=base_sepolia
BASE_USDC_ESCROW_CONTRACT=0x7edf75ceB2441d80aBC6599CeB4E62Eeb23BB2a9

OTC_QUOTE_TTL_MS=300000
OTC_PEARL_FUNDING_TTL_MS=900000
OTC_USDC_DEPOSIT_TTL_MS=900000
OTC_SETTLEMENT_TTL_MS=1800000
OTC_PRICE_USDC_PER_PRL=0.170000
OTC_FEE_BPS=0

SETTLEMENT_WORKER_ENABLED=false
SETTLEMENT_WORKER_POLL_INTERVAL_MS=10000

PEARL_SIGNER_POLICY_VERSION=pearl-otc-signer-v1
PEARL_SIGNER_RELEASE_FEE_CAP_GRAINS=5000
PEARL_SIGNER_REFUND_FEE_CAP_GRAINS=7000
PEARL_SIGNER_PAUSED=true
PEARL_BROADCAST_ENABLED=false

# Local secret inputs:
# OTC_API_DATABASE_URL
# BASE_RPC_URL
# PEARL_ESCROW_ARBITER_PUBKEY
# PEARL_ESCROW_XPUB when PEARL_ESCROW_ALLOCATOR=p2tr_xpub
# PEARLD_RPC_USER
# PEARLD_RPC_PASS
# PEARLD_MINING_ADDRESS
# PEARL_INDEXER_DATABASE_URL
# PEARL_INDEXER_POSTGRES_PASSWORD
# PEARL_SIGNER_KEY_ID
# PEARL_SIGNER_ALLOWED_KEY_IDS
# PEARL_SIGNER_REQUEST_STORE_PATH
# PEARL_SIGNER_AUDIT_LOG_PATH
